# Each line is a pattern followed by one or more owners.
# These owners will be automatically requested for review when a Pull Request
# modifies files matching the pattern.

# By default, @pranjal0203 owns all files in the repository.
*       @pranjal0203

# Example: If you add collaborators, you can assign specific owners to directories:
# /config/  @pranjal0203
# /tests/   @pranjal0203
